
<div class="card-deck">
<div class="card">
    <img class="card-img-top" src="http://slideplayer.com/slide/5093515/16/images/1/The+Stock+Market+Game+Program.jpg" height="160" width="40" alt="Card image cap">
    <div class="card-body">
    <h4 class="card-title">Taking Stock</h4>
    <p class="card-text"> Time to Complete: 6-9 hours </p>
    <p class="card-text">Simulate the stock market in your own classroom!</p>
    <!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>
    <p class="card-text"><small class="text-muted">Created 1 hour ago by Hans Straedhaus</small></p>
    <p class="card-text"> 
        <span class="badge badge-pill badge-warning">Special Materials</span>
        <span class="badge badge-pill badge-success">Accessible</span>
    </p>
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
    <h4 class="card-title">Stars and Triangles!</h4>
    <p class="card-text">How have people explored the world? Using triangles! Teach the classroom the basics of trigonomotry with this project!</p>
    <p class="card-text"><small class="text-muted">Created 3 mins ago by Mrs. Lin</small></p>
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
    <h4 class="card-title"></h4>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    <p class="card-text"><small class="tex-muted">Last updated 3 mins agot</small></p>
    </div>
</div>
</div>

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="http://slideplayer.com/slide/5093515/16/images/1/The+Stock+Market+Game+Program.jpg" height="160" width="40" alt="Card image cap">
        <div class="card-body">
        <h4 class="card-title">Taking Stock</h4>
        <p class="card-text"> Time to Complete: 6-9 hours </p>
        <p class="card-text">Simulate the stock market in your own classroom!</p>
        <p class="card-text"><small class="text-muted">Created 1 hour ago by Hans Straedhaus</small></p>
        <p class="card-text"> 
            <span class="badge badge-pill badge-warning">Special Materials</span>
            <span class="badge badge-pill badge-success">Accessible</span>
        </p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
        <h4 class="card-title">Stars and Triangles!</h4>
        <p class="card-text">How have people explored the world? Using triangles! Teach the classroom the basics of trigonomotry with this project!</p>
        <p class="card-text"><small class="text-muted">Created 3 mins ago by Mrs. Lin</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
        <h4 class="card-title"></h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="tex-muted">Last updated 3 mins agot</small></p>
        </div>
    </div>
</div>