
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="http://slideplayer.com/slide/5093515/16/images/1/The+Stock+Market+Game+Program.jpg" height="160" width="40" alt="Card image cap">
        <div class="card-body">
        <h4 class="card-title">Taking Stock</h4>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
        </button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
</div>
        <p class="card-text"> Time to Complete: 6-9 hours </p>
        <p class="card-text">Simulate the stock market in your own classroom!</p>
        <p class="card-text"><small class="text-muted">Created 1 hour ago by Hans Straedhaus</small></p>
        <p class="card-text"> 
            <span class="badge badge-pill badge-warning">Special Materials</span>
            <span class="badge badge-pill badge-success">Accessible</span>
        </p>
    </div>

</div>
<div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
    <h4 class="card-title">Stars and Triangles!</h4>
    <p class="card-text">How have people explored the world? Using triangles! Teach the classroom the basics of trigonomotry with this project!</p>
    <p class="card-text"><small class="text-muted">Created 3 mins ago by Mrs. Lin</small></p>
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
    <h4 class="card-title"></h4>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    <p class="card-text"><small class="tex-muted">Last updated 3 mins agot</small></p>
    </div>
</div>
</div>

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="http://slideplayer.com/slide/5093515/16/images/1/The+Stock+Market+Game+Program.jpg" height="160" width="40" alt="Card image cap">
        <div class="card-body">
        <h4 class="card-title">Taking Stock</h4>
        <p class="card-text"> Time to Complete: 6-9 hours </p>
        <p class="card-text">Simulate the stock market in your own classroom!</p>
        <p class="card-text"><small class="text-muted">Created 1 hour ago by Hans Straedhaus</small></p>
        <p class="card-text"> 
            <span class="badge badge-pill badge-warning">Special Materials</span>
            <span class="badge badge-pill badge-success">Accessible</span>
        </p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
        <h4 class="card-title">Stars and Triangles!</h4>
        <p class="card-text">How have people explored the world? Using triangles! Teach the classroom the basics of trigonomotry with this project!</p>
        <p class="card-text"><small class="text-muted">Created 3 mins ago by Mrs. Lin</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
        <h4 class="card-title"></h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="tex-muted">Last updated 3 mins agot</small></p>
        </div>
    </div>
</div>